<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        ¿Qué son los dominios estadísticos?
    </h2>
    <div class="module-content">
        <p>
            Los dominios estadísticos se refieren a áreas específicas de estudio o conjuntos de datos que se utilizan en
            estadísticas y análisis de datos para comprender y analizar fenómenos particulares. Estos dominios pueden
            abarcar una amplia gama de campos, desde la economía hasta la medicina, la ecología o cualquier disciplina
            que requiera la recopilación, organización y análisis de datos.
        </p>
    </div>
</div>